<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="Hariprasad">

	<title>Thomas T Daniel</title>

	<link rel="shortcut icon" href="assets/images/gt_favicon.png">

	<!-- Bootstrap -->
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
	<!-- Icons -->
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<!-- Fonts -->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700">
	<!-- Custom styles -->
	<link rel="stylesheet" href="assets/css/styles.css">

	<!--[if lt IE 9]> <script src="assets/js/html5shiv.js"></script> <![endif]-->
</head>

<body class="home">

	<header id="header">
		<div id="head" class="parallax" parallax-speed="2">
			<h1 id="logo" class="text-center">
				<img class="img-circle" src="assets/images/guy.jpg" alt="">
				<span class="title">Thomas T Daniel</span>
				<span class="tagline"><a href="https://scholar.google.co.in/citations?user=Ri3AZwoAAAAJ&hl=en">Google Scholar </a><br>
					<a href="">thomas.t@alumni.iitg.ac.in</a></span>
			</h1>
		</div>

		<nav class="navbar navbar-default navbar-sticky">
			<div class="container-fluid">

				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
					</button>
				</div>

				<div class="navbar-collapse collapse">

					<ul class="nav navbar-nav">
						<li class="active"><a href="index.html">Home</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="publications.html">Publications</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Know More <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="sidebar-left.html">Patents</a></li>
								<li><a href="sidebar-right.html">New Page 2</a></li>
								<li><a href="single.html">New Page 3</a></li>
							</ul>
						</li>
					</ul>

				</div><!--/.nav-collapse -->
			</div>
		</nav>
	</header>

	<main id="main">

		<div class="container">

			<div class="row section topspace">
				<div class="col-md-12">
					<p class="lead text-center text-muted">I am Thomas T. Daniel, Ph.D. in Nanotechnology from IIT
						Guwahati, specializing in device fabrication for sensing applications. Co-founder of K-FAB Tech
						Private Limited, I aim to make semiconductor fabrication equipment accessible to researchers. My
						experience includes managing the cleanroom at the India Innovation Centre for Graphene (IICG)
						and consulting on micro and nanofabrication facility setups.</p>
				</div>
			</div> <!-- / section -->

			<div class="row section featured topspace">
				<h2 class="section-title"><span>ACADEMIC QUALIFICATION</span></h2>
			<br>
			<br>
				<div class="col-md-12">
					<!-- Section: Timeline -->
					<section class="py-5">
						<ul class="timeline">
						<li class="timeline-item mb-5">
							<h5 class="fw-bold">Doctor of Philosophy in Nanotechnology, IIT Guwahati</h5>
							<p class="text-muted mb-2 fw-bold">December  2021</p>
							<p class="text-muted">
								I completed my PhD in Nanotechnology at IIT Guwahati, Assam, India. My thesis, titled
								"Magnetic and Semiconductor Devices for the Analysis of Breath Components," focused on the
								design, fabrication, testing, and modeling of transistors, diodes, sensors, and magnetic
								devices. I was guided by Prof. Roy Paily Palathinkaly throughout my doctoral research.
							</p>
						</li>
					
						<li class="timeline-item mb-5">
							<h5 class="fw-bold">Master of Engineering in Power Electronics and Drives, Anna University</h5>
							<p class="text-muted mb-2 fw-bold">May 2013</p>
							<p class="text-muted">
								I earned my Master of Engineering in Power Electronics and Drives from Anna University,
								Chennai, India. My studies were centered on power quality, where I gained in-depth knowledge
								and expertise in managing and improving electrical power systems.
							</p>
						</li>
					
						<li class="timeline-item mb-5">
							<h5 class="fw-bold">Post Graduate Diploma in Human Resource Management, University of Kerala</h5>
							<p class="text-muted mb-2 fw-bold">November 2011</p>
							<p class="text-muted">
								I hold a Post Graduate Diploma in Human Resource Management from the University of Kerala,
								Kerala, India. This program focused on a strategic approach to human resource management,
								equipping me with skills in strategic planning and personnel management.
							</p>
						</li>
					
						<li class="timeline-item mb-5">
							<h5 class="fw-bold">Bachelor of Engineering Electrical and Electronics, Sathyabama University.</h5>
							<p class="text-muted mb-2 fw-bold">March 2010</p>
							<p class="text-muted">
								I completed my Bachelor of Engineering in Electrical and Electronics at Sathyabama
								University. My undergraduate education provided me with a solid foundation in electrical
								systems and electronic circuits, setting the stage for my advanced studies and research.
							</p>
						</li>
						</ul>
					</section>
					<!-- Section: Timeline -->
				</div>
			</div> <!-- / section -->
			<!-- Title  -->




		
			<div class="row section recentworks topspace">
				<h2 class="section-title"><span>PROFESSIONAL EXPERIENCE</span></h2>
				<div class="container">
				  <div class="row topspace">
					<div class="history-tl-container">
					  <ul class="tl">
						<li class="tl-item" ng-repeat="item in retailer_history">
							<div class="timestamp">
							   October 2023 to Present <br> Los Angeles, U.S
							</div>
							<div class="item-title">Technology Officer (Remote)</div>
							<div class="item-detail"><p>K-Fab Tech Private Limited - innovative startup based in India
							   <br>• Supervising the design, development, production, and validation of equipment.
							   <br>• Guiding resource allocation and collaborating with teams to improve project timelines.
							</p></div>
						   </li>
						   <li class="tl-item" ng-repeat="item in retailer_history">
							<div class="timestamp">
							   May 2022 to November 2023 <br> Kerala, India
							</div>
							<div class="item-title">Project Manager for CleanRoom</div>
							<div class="item-detail"><p>Centre for Materials for Electronics Technology- India Innovation Centre for Graphene (IICG)
							   <br>• Overseeing the design and validation of ISO 5 and ISO 6 cleanrooms, including management of associated utilities.
							   <br>• Developing prototypes for commercially viable microelectronic devices.
							</p></div>
						   </li>
						   <li class="tl-item" ng-repeat="item in retailer_history">
							<div class="timestamp">
							   January 2016 to Dec 2021 <br> Assam, India
							</div>
							<div class="item-title">Research Fellow</div>
							<div class="item-detail"><p>Indian Institute of Technology Guwahati
							   <br>• Designing, fabricating, testing, and modeling transistors, diodes, sensors, and magnetic devices.
							   <br>• Operating oxidation and diffusion furnace, thermal evaporator, lithography and printing system, as well as wire bonder.
							</p></div>
						   </li>
						   <li class="tl-item" ng-repeat="item in retailer_history">
							<div class="timestamp">
							   Dec 2014 to Dec 2015 <br> Assam, India
							</div>
							<div class="item-title">Associate Project Engineer</div>
							<div class="item-detail"><p>Indian Institute of Technology Guwahati - Centre for Excellence in Research and Development of Nanoelectronic Theranostic
							   Devices (CENTD)
							   <br>• Leading the design, construction, and validation of cutting-edge microelectronics laboratory facilities.
							   <br>• Preparing indents, conducting technical and price comparisons, and delivering final recommendations.
							   <br>• Managing the installation of facilities for high-end equipment such as electron beam and optical lithography, diffusion
							   oxidation, and deposition furnaces.
							</p></div>
						   </li>
						   <li class="tl-item" ng-repeat="item in retailer_history">
							<div class="timestamp">
							   May 2013 to Nov 2014 <br> Kerala, India
							</div>
							<div class="item-title">Executive Engineer </div>
							<div class="item-detail"><p>GenRenew India
							   <br>• Designing and fabricating modular cleanrooms and equipment.
							</p></div>
						   </li>
						   <li class="tl-item" ng-repeat="item in retailer_history">
							<div class="timestamp">
							   June 2010 to Dec 2011 <br> Kerala, India
							</div>
							<div class="item-title">Engineer</div>
							<div class="item-detail"><p>Kerala State Electricity Board
							   <br>• Operation and maintenance of 33/11 kV substation, alongside training as an operator at a 15 MW generating station.
							</p></div>
						   </li>
						<!-- Add more timeline items as needed -->
					  </ul>
					</div>
				  </div>
				</div>
			  </div>
			  
			  
		</div>
	</main>

	
	<footer id="footer">
		<div class="container" class="text-align = center">
			
			<div class="row">
				<div class="col-md-9 widget">
					<h3 class="widget-title">Contact</h3>
					<div class="widget-body">
						<p>+1(213) 321-2658<br>
							<a href="mailto:#">thomas.t@alumini.iitg.ac.in</a><br>
							<br>
							936 South Olive Street, Apt 426, Los Angeles, CA 90015
						</p>
					</div>
				</div>

				<div class="col-md-3 widget">
					<h3 class="widget-title">Follow me</h3>
					<div class="widget-body">
						<p class="follow-me-icons">
							<a href=""><i class="fa fa-twitter fa-2"></i></a>
							<a href=""><i class="fa fa-dribbble fa-2"></i></a>
							<a href=""><i class="fa fa-github fa-2"></i></a>
							<a href=""><i class="fa fa-facebook fa-2"></i></a>
						</p>
					</div>
				</div>

				<!-- <div class="col-md-3 widget">
					<h3 class="widget-title">Text widget</h3>
					<div class="widget-body">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, nihil natus explicabo ipsum
							quia iste aliquid repellat eveniet velit ipsa sunt libero sed aperiam id soluta officia
							asperiores adipisci maxime!</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, nihil natus explicabo ipsum
							quia iste aliquid repellat eveniet velit ipsa sunt libero sed aperiam id soluta officia
							asperiores adipisci maxime!</p>
					</div>
				</div>

				<div class="col-md-3 widget">
					<h3 class="widget-title">Form widget</h3>
					<div class="widget-body">
						<p>+234 23 9873237<br>
							<a href="mailto:#">some.email@somewhere.com</a><br>
							<br>
							234 Hidden Pond Road, Ashland City, TN 37015
						</p>
					</div>
				</div> -->

			</div> <!-- /row of widgets -->
		</div>
	</footer>

	<footer id="underfooter">
		<div class="container">
			<div class="row">

				<div class="col-md-7 widget">
					<div class="widget-body">
						<p class="text-right">
							Copyright &copy; 2024, <br>
							Design: <a href="" rel="designer">Hariprasad</a> </p>
					</div>
				</div>

			</div> <!-- /row of widgets -->
		</div>
	</footer>



	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="assets/js/template.js"></script>
</body>

</html>